<%- include("./partials/_header.ejs") %>


    <!-- REGİSTER YAPISI -->

    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase text-primary">REGISTER</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>

            <form action="/register" method="POST">
                <div class="row align-items-center mb-5" style="flex-direction: column;">
                    <div class="mb-3">
                        <label for="brief" class="col-form-label text-primary">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="title" class="col-form-label text-primary">Email:</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="brief" class="col-form-label text-primary">Password</label>
                        <input type="text" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <br>
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center text-white mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a
                            href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>
                <!-- Submit Button-->
                <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton"
                        type="submit">SİGN UP</button></div>
            </form>
        </div>